@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自訂全局樣式 */
body {
  @apply bg-background text-textPrimary font-sans;
}

a {
  @apply text-accent;
}

a:hover {
  @apply underline;
}

/* 全局圖片樣式 */
img {
    object-fit: cover;
    object-position: center;
  }
  